
/* -------------------------------------- common css start ------------------------------------- */
* {padding: 0; margin: 0; box-sizing: border-box;}
ul {list-style: none;}
.inner {position: relative; margin: 0 auto; width: 1200px;}
.only_pc {display: block;}
.only_mob {display: none;}
.section_title {font-size: 50px; font-weight: 700; letter-spacing: -.08em; word-break: keep-all;}

@media screen and (max-width: 1280px) {
  .inner {margin: 0 auto; width: calc(100% - 30px);}
}
@media screen and (max-width: 768px) {
  .inner {margin: 0 auto; width: calc(100% - 30px);}
  .only_pc {display: none;}
  .only_mob {display: block;}
  .section_title {font-size: 28px;}
}

/* -------------------------------------- common css end ------------------------------------- */

/* -------------------------------------- haeder start ------------------------------------- */

header {position: fixed; top: 0; left: 0; width: 100%; height: 60px; background-color: #fff; border-bottom: 1px solid #ddd; z-index: 999; display: none;}

/* -------------------------------------- header end ------------------------------------- */

/* -------------------------------------- main start ------------------------------------- */

.heritage_sec {padding: 180px 0 0 0;}
.heritage_conlist {width: 100%; overflow: hidden;}
.inner.heritage_inner {padding: 140px 0 0 0; transition: all .66s;}
.inner .scroll_wrap {position: relative; top: 0; width: 100%; height: 640px;}
.heritage_conlist .inner .heritage_img {position: relative; top: 0; margin: 0 auto; width: 100%; height: 100%; transition: all .66s; z-index: 2;}
/* .heritage_conlist .inner .heritage_img .heritage_bgimg {position: relative; left: calc(-1 * (100vw - 1200px)/2); overflow: hidden; width: 100vw; height: 640px; background: url("../images/img-company-intro-heritage- 01.jpg")no-repeat; background-size: 100%; background-position: center 15%; transition: all .66s;} */
/* .heritage_conlist .inner .heritage_img .heritage_bgimg::before {content: ""; position: absolute; top: 0; left: 0; display: block; width: 100%; height: 100%; background-color: transparent; transition: background-color .66s;} */
/* .heritage_conlist.onBg .inner .heritage_img .heritage_bgimg {background-size: 110%;} */
/* .heritage_conlist.onBg .inner .heritage_img .heritage_bgimg::before {content: ""; position: absolute; top: 0; left: 0; display: block; width: 100%; height: 100%; background-color: rgba(0, 0, 0, .3); transition: background-color .66s;} */
/* .heritage_conlist.onScroll .inner .heritage_img .heritage_bgimg {margin-top: 15vh; width: 500px; height: 300px; border-radius: 15px; left: 0; background-size: 100%; transition: all .5s;} */
/* .heritage_conlist.onScroll .inner .heritage_img .heritage_bgimg::before {background-color: transparent; transition: all .66s;} */
.heritage_conlist .inner .heritage_img .heritage_img_wrap {position: relative; top: 0; left: calc(-1 * (100vw - 1200px)/2); overflow: hidden; width: 100vw; height: 100%; background: url("../images/img-company-intro-heritage-01.jpg")no-repeat; background-size: 100%; background-position: center 15%; transition: top .66s, left .66s, width .66s, height .66s, background-size .66s;}
.heritage_conlist .inner .heritage_img .heritage_img_wrap::before {content: ""; position: absolute; top: 0; left: 0; display: block; width: 100%; height: 100%; background-color: transparent; transition: background-color .66s;}
.heritage_conlist .inner .heritage_img .heritage_img_wrap .heritage_img_list {display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 15px; overflow: hidden;} 
.heritage_conlist .inner .heritage_img .heritage_img_wrap .heritage_img_list img {width: 100%; height: 100%; object-fit: cover;} 
.heritage_conlist.onBg .inner .heritage_img .heritage_img_wrap {background-size: 110%;}
.heritage_conlist.onBg .inner .heritage_img .heritage_img_wrap::before {content: ""; position: absolute; top: 0; left: 0; display: block; width: 100%; height: 100%; background-color: rgba(0, 0, 0, .3); transition: background-color .66s;}
/* .heritage_conlist.onScroll .inner .scroll_wrap {top: 15vh;} */
.heritage_conlist.onScroll .inner .heritage_img {top: 150px;}

.heritage_conlist.onScroll .inner .heritage_img .heritage_img_wrap {width: 500px; height: 300px; border-radius: 15px; top: 0; left: 0; background-size: 100%;}
.heritage_conlist.onScroll .inner .heritage_img .heritage_img_wrap::before {background-color: transparent; transition: all .66s;}


@media screen and (max-width: 1280px) {
  .inner.heritage_inner {padding: 140px 0 0 0; width: 100%; transition: all .66s;}
  .heritage_conlist .inner .heritage_img {width: 100%;}
  .inner .scroll_wrap {position: relative; top: 0; left: 0; width: 100%; height: 640px;}
  .heritage_conlist .inner .heritage_img .heritage_img_wrap {left: 0; width: 100%;}
  .heritage_conlist.onScroll .inner .heritage_img .heritage_img_wrap {left: 30px;}
  /* .heritage_conlist.onScroll .inner .heritage_img .heritage_bgimg {left: 30px;} */
  /* .heritage_conlist .inner .heritage_img .heritage_bgimg {left: 0; background-size: 100%;} */
  /* .heritage_conlist.onBg .inner .heritage_img .heritage_bgimg {background-size: cover;} */
  /* .heritage_conlist .inner .heritage_img .heritage_img_wrap {left: 30px;} */
}
@media screen and (max-width: 1024px) {
  /* .heritage_conlist.onScroll .inner .heritage_img .heritage_img_wrap {padding-top: 60.5%; height: 0; background-size: cover;} */
  .heritage_conlist.onBg .inner .heritage_img .heritage_img_wrap {background-size: cover;}
  /* .heritage_conlist.onScroll .inner .heritage_img .heritage_img_wrap img {position:absolute; left:0; top:0; width: 100%;} */
  /* .heritage_conlist .inner .heritage_img .heritage_img_wrap {width: 350px; height: 225px;} */
  .heritage_conlist.onScroll .inner .heritage_img .heritage_img_wrap {width: 380px; height: 228px;}
}

@media screen and (max-width: 768px) {
  .inner .scroll_wrap {height: auto;}
  .heritage_conlist .inner .heritage_img {width: 100%; height: 640px;}
  .heritage_conlist .inner .heritage_img .heritage_img_wrap {width: 100%; height: 100%; background-size: cover;}
  .heritage_conlist .inner .heritage_img .heritage_img_wrap::before {background-color: rgba(0, 0, 0, .3);}
  /* .heritage_conlist .inner .heritage_img .heritage_bgimg {left: 0; width: 100%; height: 734px; background-size: cover; background-position: center 15%;} */
  /* .heritage_conlist .inner .heritage_img .heritage_bgimg::before {background-color: rgba(0, 0, 0, .3);} */
}

.inner .toggle_txt {position: absolute; top: 100px; left: 50%; transform: translate(-50%); width: 1200px; z-index: 3;}
.inner .toggle_txt .toggle_txt_wrap {opacity: 0; transform: translateY(100px); transition: all .66s;}
.heritage_conlist.onBg .inner .toggle_txt .toggle_txt_wrap {opacity: 1; transform: translateY(0); transition: all .66s;}
.heritage_conlist.onScroll .inner .toggle_txt .toggle_txt_wrap {opacity: 0; transform: translateY(100px); visibility: hidden; transition: all .66s;}
.inner .toggle_txt .toggle_title {font-size: 50px; font-weight: 700; color: #fff;}
.inner .toggle_txt .txt_box {margin-top: 30px; display: flex; justify-content: space-between;}
.inner .toggle_txt .txt_box .left_txt_box {width: 50%; font-size: 30px; letter-spacing: -.08em; font-weight: 700; color: #fff;}
.inner .toggle_txt .txt_box .right_txt_box {width: 50%;}
.inner .toggle_txt .txt_box .right_txt_box .txt_detail {margin-top: 10px; display: flex;}
.inner .toggle_txt .txt_box .right_txt_box .txt_detail .date {margin-right: 20px; font-size: 20px; letter-spacing: -.08em; font-weight: 700; color: #fff;}
.inner .toggle_txt .txt_box .right_txt_box .txt_detail .detail_list li {font-size: 20px; color: #fff;}

@media screen and (max-width: 1280px) {
  .inner .toggle_txt {padding: 0 30px; width: 100%;}
}

@media screen and (max-width: 1024px) {
  .inner .toggle_txt {top: 30px;}
  .inner .toggle_txt .txt_box .right_txt_box .txt_detail .detail_list li {font-size: 16px;}
}

@media screen and (max-width: 768px) {
  .inner .toggle_txt {position: absolute; top: 50px; left: 30px; transform: translate(0); width: 100%;}
  .inner .toggle_txt .toggle_txt_wrap {opacity: 1; transform: translateY(0);}
  .inner .toggle_txt .toggle_title {font-size: 30px;}
  .inner .toggle_txt .txt_box {margin-top: 15px; display: block;}
  .inner .toggle_txt .txt_box .left_txt_box {width: 100%; font-size: 18px; letter-spacing: -.08em;}
  .inner .toggle_txt .txt_box .right_txt_box {width: 100%;}
  .inner .toggle_txt .txt_box .right_txt_box .txt_detail .date {margin-right: 15px; font-size: 16px;}
  .inner .toggle_txt .txt_box .right_txt_box .txt_detail .detail_list li {font-size: 16px; color: #fff; letter-spacing: -.08em; font-weight: 700;}
}

.inner .hiding_txt {position: absolute; top: 0; left: 50%; transform: translateX(-50%); width: 1200px; z-index: 1;}
.inner .hiding_txt .hiding_txt_wrap {position: relative; transform: translateY(100px); opacity: 0; transition: all .66s;}
.heritage_conlist.onScroll .inner .hiding_txt .hiding_txt_wrap {opacity: 1; transform: translateY(0); transition: all .66s;}
.inner .hiding_txt .year {font-size: 18px; font-weight: 700; color: #666;}
.inner .hiding_txt .title {margin-top: 20px; font-size: 40px; font-weight: 700; color: #000;}

@media screen and (max-width: 1280px) {
  .inner .hiding_txt {width: 100%; padding: 0 30px;}
}

@media screen and (max-width: 768px) {
  .inner .hiding_txt {position: relative; top: 0; left: 0; transform: translateX(0); margin-top: 50px; padding: 0 30px; width: 100%;}
  .inner .hiding_txt .hiding_txt_wrap {transform: translateY(0); opacity: 1;}
  .inner .hiding_txt .title {margin-top: 10px; font-size: 20px;}
}

.heritage_conlist.active .info_wrap {opacity: 1;}
.info_wrap {position: relative; margin: 500px auto 0 auto; padding: 180px 0; display: flex; justify-content: flex-end; width: 1200px; opacity: 0; transition: all 1s;}
.info_wrap .history_wrap {width: calc(100% / 2); border: 1px solid red;}
.info_wrap .history_wrap .history_tit {font-size: 18px; font-weight: 700; letter-spacing: -.03em;}
.info_wrap .history_wrap .history_con {margin-top: 60px; padding-left: 40px;}
.info_wrap .history_wrap .history_con .history_list {position: relative;}
.info_wrap .history_wrap .history_con .history_list:last-child::before {display: none;}
.info_wrap .history_wrap .history_con .history_list::before {content: ""; position: absolute; top: 18px; left: -34px; display: block; width: 1px; height: 100%; background-color: #ddd;}
.info_wrap .history_wrap .history_con .history_list .history_year {position: relative; font-size: 34px; font-weight: 700;}
.info_wrap .history_wrap .history_con .history_list .history_year::after {content: ""; position: absolute; top: 18px; left: -39px; display: block; width: 10px; height: 10px; border-radius: 50%; background-color: #000;}
.info_wrap .history_wrap .history_con .history_list:first-child .history_year::after {left: -42px; background-color: #fff; border: 3px solid #000;}
.info_wrap .history_wrap .history_con .history_list .history_txt {margin: 20px 0 0 0; padding: 0 0 40px 0;letter-spacing: -.1em; transition: color .66s;}
.info_wrap .history_wrap .history_con .history_list .history_txt p {display: inline-block; color: #666;}
.info_wrap .history_wrap .history_con .history_list .history_txt.plus_img p {padding: 0 30px 0 0; background: url("../images/icon-kolon-heritage.svg") no-repeat; background-position: center right; font-size: 14px; font-weight: 700; transition: all .66s;}
.info_wrap .history_wrap .history_con .history_list .history_txt.plus_img.on p {color: #0078c3; background: url("../images/icon-kolon-heritage-on.svg") no-repeat; background-position: center right;}
.info_wrap .history_wrap .history_con .history_list .histroy_img {display: none;}

@media screen and (max-width: 1280px) {
  .info_wrap  {width: 100%; padding: 0 30px;}
  .info_wrap .history_wrap {width: calc( (100% / 2) - 5%);}
  .info_wrap .history_wrap .history_con .history_list .history_txt.plus_img p {background-position: top 3px right;}
  .info_wrap .history_wrap .history_con .history_list .history_txt.plus_img.on p {background-position: top 3px right;}
}

@media screen and (max-width: 768px) {
  .info_wrap {position: relative; top: 0; margin: 15px auto 0 auto; padding: 0 30px; display: block; width: 100%; opacity: 1;}
  .info_wrap .history_wrap {width: 100%;}
  .info_wrap .history_wrap .history_tit {font-size: 16px; font-weight: 700; letter-spacing: -.03em;}
  .info_wrap .history_wrap .history_con {margin-top: 0; padding-left: 20px;}
  .info_wrap .history_wrap .history_con .history_list {padding-top: 30px;}
  .info_wrap .history_wrap .history_con .history_list::before {top: 40px; left: -14px;}
  .info_wrap .history_wrap .history_con .history_list .history_year {font-size: 20px;}
  .info_wrap .history_wrap .history_con .history_list .history_year::after {top: 10px; left: -16px; width: 6px; height: 6px;}
  .info_wrap .history_wrap .history_con .history_list:first-child .history_year::after {left: -19px;}
  .info_wrap .history_wrap .history_con .history_list .history_txt {padding: 0 0 10px 0;}
  .info_wrap .history_wrap .history_con .history_list .history_txt.plus_img p {color: #0078c3; background: url("../images/icon-kolon-heritage-on.svg") no-repeat; background-position: center right;}

  .info_wrap .history_wrap .history_con .history_list .histroy_img {display: block; overflow: hidden; width: 100%;}
  .info_wrap .history_wrap .history_con .history_list .histroy_img img {width: 100%;}
}

/* -------------------------------------- main end ------------------------------------- */
