
/* -------------------------------------- common css start ------------------------------------- */
* {padding: 0; margin: 0; box-sizing: border-box;}
ul {list-style: none;}
.inner {position: relative; margin: 0 auto; width: 1200px;}
br.only_pc {display: block;}
br.only_mob {display: none;}
.section_title {font-size: 50px; font-weight: 700; letter-spacing: -.08em; word-break: keep-all;}

@media screen and (max-width: 1280px) {
  .inner {margin: 0 auto; width: calc(100% - 30px);}
}
@media screen and (max-width: 768px) {
  .inner {margin: 0 auto; width: calc(100% - 30px);}
  br.only_pc {display: none;}
  br.only_mob {display: block;}
  .section_title {font-size: 28px;}
}

/* -------------------------------------- common css end ------------------------------------- */

/* -------------------------------------- haeder start ------------------------------------- */

header {position: fixed; top: 0; left: 0; width:  100%; height: 60px; background-color: #fff; border-bottom: 1px solid #ddd; z-index: 999; display: none;}


/* -------------------------------------- main start ------------------------------------- */

.heritage_sec {padding: 180px 0 0 0;}

.inner.heritage_inner {padding: 140px 0 0 0; width: 100%; transition: all .66s;}
.inner .scroll_wrap {position: relative; width: 100%; overflow: hidden; border: 1px solid blue;}

.heritage_conlist .inner .heritage_img {margin: 0 auto; width: 1200px; transition: all .66s;}
.heritage_conlist .inner .heritage_img .heritage_bgimg {position: relative; left: calc(-1 * (100vw - 1200px)/2); overflow: hidden; width: 100vw; height: 640px; background: url("../images/img-company-intro-heritage-01.jpg")no-repeat; background-size: 100%; background-position: center 15%; transition: all .66s;}
.heritage_conlist .inner .heritage_img .heritage_bgimg::before {content: ""; position: absolute; top: 0; left: 0; display: block; width: 100%; height: 100%; background-color: transparent; transition: background-color .66s;}

/* toggle_txt */
/* .inner .toggle_txt {position: absolute; top: 200px; left: 50%; transform: translate(-50%); width: 1200px;} */
/* .inner .toggle_txt .toggle_txt_wrap {visibility: hidden; opacity: 0; transform: translateY(200px); transition: all .66s;} */

/* onBg */
.heritage_conlist.onBg .inner .heritage_img .heritage_bgimg {background-size: 110%;}
.heritage_conlist.onBg .inner .heritage_img .heritage_bgimg::before {content: ""; position: absolute; top: 0; left: 0; display: block; width: 100%; height: 100%; background-color: rgba(0, 0, 0, .3); transition: background-color .66s;}


/* onScroll */
.heritage_conlist.onScroll .inner .heritage_img .heritage_bgimg {margin-top: 20vh; width: 500px; height: 300px; border-radius: 15px; left: 0; background-size: 100%; transition: all .66s;}
.heritage_conlist.onScroll .inner .heritage_img .heritage_bgimg::before {background-color: transparent; transition: all .66s;}

/* active */
/* .heritage_conlist.active .inner .info_wrap */


/* infowrap */
.info_wrap {border: 1px solid red; margin: 50vh auto 0; padding: 20vh 0; display: flex; justify-content: flex-end; width: 1200px; height: 100vh;}
.info_wrap .history_wrap {width: calc(100%/2);}
.info_wrap .history_wrap .history_tit {font-size: 18px; font-weight: 700; letter-spacing: -.03em;}
.info_wrap .history_wrap .history_con {margin-top: 60px; padding-left: 40px;}
.info_wrap .history_wrap .history_con .history_list {position: relative;}
.info_wrap .history_wrap .history_con .history_list::before {content: ""; position: absolute; top: 18px; left: -34px; display: block; width: 1px; height: 100%; background-color: #ddd;}
.info_wrap .history_wrap .history_con .history_list .history_year {position: relative; font-size: 34px; font-weight: 700;}
.info_wrap .history_wrap .history_con .history_list .history_year::after {content: ""; position: absolute; top: 18px; left: -40px; display: block; width: 6px; height: 6px; border-radius: 50%; background-color: #fff; border: 3px solid #000;}

.info_wrap .history_wrap .history_con .history_list .history_txt {margin: 20px 0 60px 0;}

/* onScroll */
/* section2 */